/* --- for demo page only */
body {
	background-color: #fff;
	font-family: helvetica, sans-serif;
	padding: 5% 8%;
	margin: 0;
}
h2 {
	margin: 2em 0 1em;
}
button {
	margin-top: 3em;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
// For IE 6/7 (trigger hasLayout)
.clearfix {
	*zoom: 1;
}
/* --- end demo styles */


/* Use this for labels/elements that are in the markup purely for audible/accessibility purposes, and are always hidden */
.a11y-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Use a separate class/element for label text so child elements don't inherit styles */
.label-text {
	display: block;
	margin: 2em 0 .3em;
	font-size: .7em;
	color: #777;
	font-weight: normal;
	text-transform: uppercase;
}
.required .label-text:after {
	content: "*";
	color: red;
	margin-left: .3em;
}

.button,
textarea,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="file"] {
	display: block;
	width: 100%;
	border: 1px solid #bbb;
	border-radius: .3em;
	font: bold 16px/1.3 helvetica, sans-serif; /* 16px = magic font size number to prevent iOS text zoom */
	box-sizing: border-box;
	padding: .6em 16px;
	color: #444;
}
input[type="file"] {
	padding: 0;
	border: 0;
}
/* experiment to see if we can account for the inset border in search field: */
input[type="search"] {
	padding-left: 10px;
}

textarea,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="time"],
input[type="week"] {
	box-shadow: inset 0 1px 1px 2px rgba(0,0,0,.05);
	background: none;
	outline: none;

	/* prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* undo browser styling */
	appearance: none;
	-webkit-appearance: none;
}

.button {
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.checkbox,
.radiobutton {
	clear: both;
	float: left;
	width: 100%;
}
.checkbox input,
.radiobutton input {
	float: left;
	margin-top: .3em;
}
.checkbox .item,
.radiobutton .item {
	float: left;
	max-width: 80%;
}
.checkbox .item b,
.radiobutton .item b {
	font-family: $fontSemiBold;
}
.checkbox .item-desc,
.radiobutton .item-desc {
	font-size: .9em;
	display: block;
	color: $gray-tertiary;
}


/* feedback states */
input:focus,
textarea:focus,
.button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(180,222,250, .75);
}

.disabled .label-text,
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default;
	text-shadow: none;
	box-shadow: none;
	opacity: .5;
}
input[type="file"][disabled] {
	background-color: transparent;
}


@media ( min-width: 600px ) {
	.layout-a .sect-a,
	.layout-a .sect-b {
		float: left;
		width: 48%;
	}
	.layout-a .sect-b {
		float: right;
	}

}