



.form-group {
	max-width: 30em;
}
.form-group,
.form-group.checkbox,
.form-group.radiobutton {
	clear: both;
	margin: 0 0 1.5em;
	display: block;
	position: relative;
}
.form-group:before,
.form-group:after {
	content: " ";
	display: table;
}
.form-group:after {
	clear: both;
}
.form-group + .error-msg {
	margin-top: -1.384615385em; /* -18px /13 */
	margin-bottom: 1em;
}

.btn.btn-mask-pw,
.button.btn-mask-pw {
	position: absolute;
	top: -1.2em;
	right: 0;
	width: auto;
}



/* Use a separate class/element for label text so child elements don't inherit styles */
.label-text, 
.helper {
	font-size: .7em;	
}
.label-text {
	display: block;
	margin: 0 0 .3em;
	color: #777;
	font-weight: normal;
	text-transform: uppercase;
	position: relative;
}
.required .label-text:after {
	content: "*";
	color: #DC0014;
	margin-left: .3em;
}


/* Button-like styling for inputs and button elements */
.btn,
.button,
textarea,
input,
select {
	font-size: 16px;
	line-height: 1.3;
	padding: .6em 1em;
}

.btn,
.button,
textarea,
.custom-select,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="file"] {
	display: block;
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;	
	color: #444;
}
.custom-select {
	width: auto;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	border: 0;
}
/* experiment to see if we can account for the inset border in search field: */
input[type="search"] {
	padding-left: 10px;
}
textarea,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="time"],
input[type="week"] {
	box-shadow: inset 0 1px 1px 2px rgba(0,0,0,.05);
	background: none;
	outline: none;

	/* prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* undo browser styling */
	appearance: none;
	-webkit-appearance: none;
}

/* opt out of spinner in numeric inputs */
input[type=number].text-number::-webkit-inner-spin-button, 
input[type=number].text-number::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}




/* Placeholder text in form elements - each rule must remain separate to work */
::-webkit-input-placeholder {
	font-weight: normal;
	color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
	font-weight: normal;
	color: #bbb;
}
::-moz-placeholder {  /* Firefox 19+ */
	font-weight: normal;
	color: #bbb;
}
:-ms-input-placeholder {
	font-weight: normal;
	color: #bbb;
}

/* Chrome - specific placeholder text for input type="date" */
/* hide the slashes because we can't style them and they look janky when they don't match */
input::-webkit-datetime-edit-text {
	visibility: hidden;
	line-height: 1;
}
/* apply placeholder styling and see what sticks */
input::-webkit-datetime-edit-ampm-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-day-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-hour-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-millisecond-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-minute-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-month-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-second-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-week-field[aria-valuetext=blank], 
input::-webkit-datetime-edit-year-field[aria-valuetext=blank] {
	font: normal 16px/1.3 helvetica, sans-serif;
	color: #bbb;
}

/* Chrome - adjust height of date/time inputs */
input::-webkit-datetime-edit-fields-wrapper,
input::-webkit-datetime-edit-ampm-field, 
input::-webkit-datetime-edit-day-field, 
input::-webkit-datetime-edit-hour-field, 
input::-webkit-datetime-edit-millisecond-field, 
input::-webkit-datetime-edit-minute-field, 
input::-webkit-datetime-edit-month-field, 
input::-webkit-datetime-edit-second-field, 
input::-webkit-datetime-edit-week-field, 
input::-webkit-datetime-edit-year-field {
	padding: 0;
}
/* OK, this is getting ugly. */
input[type="date"]::-webkit-inner-spin-button, 
input[type="datetime"]::-webkit-inner-spin-button, 
input[type="datetime-local"]::-webkit-inner-spin-button, 
input[type="month"]::-webkit-inner-spin-button, 
input[type="time"]::-webkit-inner-spin-button, 
input[type="week"]::-webkit-inner-spin-button {
	height: 1em;
}


/* Check & radio */
.checkbox,
.radiobutton {
	clear: both;
	float: left;
	width: 100%;
	margin: 0 0 .5em;
	font-size: .9em;
}
.checkbox input,
.radiobutton input {
	float: left;
	margin: 0 8px 0 0;
}
.checkbox .item,
.radiobutton .item {
	float: left;
	max-width: 80%;
}
.checkbox .item-desc,
.radiobutton .item-desc {
	font-size: .9em;
	display: block;
}





/* feedback states */
.btn:focus,
.button:focus,
textarea:focus,
input:focus,
select:focus {
	outline: none;
}
.btn:focus, 
.button:focus, 
textarea:focus,
input:focus {
	box-shadow: 0 0 0 3px rgba(180,222,250, .75);
}
input[type="checkbox"] {
	border-radius: 10%;
}
input[type="radio"] {
	border-radius: 100%;
}

.disabled .label-text,
.disabled .item,
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default;
	text-shadow: none;
	box-shadow: none;
	opacity: .6;
}
input[type="file"][disabled] {
	background-color: transparent;
}


@media ( min-width: 900px ) {
	.has-helper {
		padding-right: 32%;
	}
	.helper { /* instruction text that appears next to input */
		position: absolute;
		left: 103%;
		top: 1.3em;
		min-width: 42%;
	}
}
