/* Layout styles */

.sect-group {
	max-width: 30em;
}

.sect-group:before,
.sect-group:after {
	content: " ";
	display: table;
}
.sect-group:after {
	clear: both;
}

/* Generic section classes can be used for interior columns that can be scoped to 
break into cols at different breakpoints */
.sect-inner-a,
.sect-inner-b {
	width: 48%;
}
.sect-inner-a {
	float: left;
}
.sect-inner-b {
	float: right;
}

.sect-group-a > .sect-inner-a {
	width: 68%;
}
.sect-group-a > .sect-inner-b {
	width: 28%;
}
.sect-group-b > .sect-inner-a {
	width: 58%;
}
.sect-group-b > .sect-inner-b {
	width: 38%;
}

.form-btns.sect-inner-a,
.form-btns.sect-inner-b {
	margin-top: 1em;
}
.form-group.sect-inner-b {
	clear: none;
}
