
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://filamentgroup.github.io/demo-head/demohead.css">
<link rel="stylesheet" href="../css/formcore.css">
<script src="https://filamentgroup.github.io/demo-head/loadfont.js"></script>

</head>


<body>

<!--#include virtual="/ssi/masthead.html" -->

<div class="docs-main">
<h2>Checkboxes &amp; Radio Buttons</h2>

<div class="layout-a clearfix">
	<div class="sect-a">
<form novalidate data-validatorform data-error-title="The Form is incomplete" data-error-message="Go back there and fix it.">

		<div class="form-group">
			<label class="checkbox">
				<input type="checkbox" name="opt1" id="opt1">
				<span class="item">Description in sentence form.</span>
			</label>
		</div>

		<div class="form-group checkbox-set clearfix">
			<label class="checkbox">
				<input type="checkbox" name="opt2" id="opt2">
				<span class="item">Description in sentence form.</span>
			</label>
			<label class="checkbox">
				<input type="checkbox" name="opt3" id="opt3">
				<span class="item">Another description in sentence form.</span>
			</label>
		</div>

		<p class="docs">With description text:</p>

		<div class="form-group checkbox-set">
			<label class="checkbox">
				<input type="checkbox" name="opt11" id="opt11">
				<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>
			</label>
			<label class="checkbox">
				<input type="checkbox" name="opt12" id="opt12">
				<span class="item"><b>Item 2</b></span>
			</label>
			<label class="checkbox">
				<input type="checkbox" name="opt13" id="opt13">
				<span class="item"><b>Item 3</b></span>
			</label>
		</div>

		<button class="button btn-submit">Submit</button>

		</form>
	</div>

	<div class="sect-b">
		<form novalidate data-validatorform data-error-title="The Form is incomplete" data-error-message="Go back there and fix it.">
		
		<div class="form-group radio-set clearfix">
			<label class="radiobutton">
				<input type="radio" name="options1" id="opt22">	
				<span class="item">Description in sentence form.</span>	
			</label>
			<label class="radiobutton">
				<input type="radio" name="options1" id="opt23">	
				<span class="item">Another description in sentence form.</span>	
			</label>
		</div>

		<p class="docs">With description text:</p>

		<div class="form-group radio-set clearfix">
			<label class="radiobutton">
				<input type="radio" name="options" id="opt33">	
				<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>	
			</label>
			<label class="radiobutton">
				<input type="radio" name="options" id="opt34">	
				<span class="item"><b>Item 2</b></span>	
			</label>
			<label class="radiobutton">
				<input type="radio" name="options" id="opt35">	
				<span class="item"><b>Item 3</b></span>	
			</label>
		</div>

		<button class="button btn-submit">Submit</button>

		</form>
	</div>
</div>

<h3>Error feedback</h3>

<div class="form-group radio-set clearfix invalid">
	<div class="error-msg">Please make a selection:</div>
	<label class="radiobutton">
		<input type="radio" name="options" id="opt334">	
		<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>	
	</label>
	<label class="radiobutton">
		<input type="radio" name="options" id="opt344">	
		<span class="item"><b>Item 2</b></span>	
	</label>
	<label class="radiobutton">
		<input type="radio" name="options" id="opt354">	
		<span class="item"><b>Item 3</b></span>	
	</label>
</div>

<div class="form-group invalid">
	<label class="checkbox">
		<input type="checkbox" name="opt14" id="opt14">
		<span class="item">I agree to the <a href="#">Terms &amp; Conditions</a></span>
	</label>
	<div class="error-msg">Please agree to the Terms &amp; Conditions to continue.</div>
</div>

<h3>Disabled state</h3>

<div class="form-group radio-set clearfix disabled">
	<label class="radiobutton">
		<input type="radio" name="options" id="opt335" disabled>	
		<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>	
	</label>
	<label class="radiobutton">
		<input type="radio" name="options" id="opt345" disabled>	
		<span class="item"><b>Item 2</b></span>	
	</label>
	<label class="radiobutton">
		<input type="radio" name="options" id="opt355" disabled>	
		<span class="item"><b>Item 3</b></span>	
	</label>
</div>

<div class="form-group disabled">
	<label class="checkbox">
		<input type="checkbox" name="opt15" id="opt15" disabled>
		<span class="item">I agree to the <a href="#">Terms &amp; Conditions</a></span>
	</label>
</div>
</div>


<!--#include virtual="/ssi/js.html" -->
</body>
</html>
