<!doctype html>
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--#include virtual="/ssi/styles-scripts.html" -->

</head>


<body>

<!--#include virtual="/ssi/masthead.html" -->

<div class="docs-main">
<h2>Checkboxes &amp; Radio Buttons</h2>

<div data-xrayhtml>
<h3 class="xraytitle">Checkbox Selection</h3>

<div class="form-group">
	<label class="checkbox">
		<input type="checkbox" name="opt1">
		<span class="item">Description in sentence form.</span>
	</label>
	<label class="checkbox">
		<input type="checkbox" name="opt2">
		<span class="item">Description in sentence form.</span>
	</label>
	<label class="checkbox">
		<input type="checkbox" name="opt3">
		<span class="item">Another description in sentence form.</span>
	</label>
</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Checkbox Selection with Description Text</h3>

<div class="form-group">
	<label class="checkbox">
		<input type="checkbox" name="opt11">
		<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>
	</label>
	<label class="checkbox">
		<input type="checkbox" name="opt12">
		<span class="item"><b>Item 2</b></span>
	</label>
	<label class="checkbox">
		<input type="checkbox" name="opt13">
		<span class="item"><b>Item 3</b></span>
	</label>
</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Radio Selection</h3>

<div class="form-group">
	<label class="radiobutton">
		<input type="radio" name="options1">
		<span class="item">Description in sentence form.</span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="options1">
		<span class="item">Another description in sentence form.</span>
	</label>
</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Radio Selection with Description Text</h3>

<div class="form-group">
	<label class="radiobutton">
		<input type="radio" name="options">
		<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="options">
		<span class="item"><b>Item 2</b></span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="options">
		<span class="item"><b>Item 3</b></span>
	</label>
</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Error Message</h3>

<div class="form-group invalid" data-validator-anchor>
	<label class="radiobutton">
		<input type="radio" name="radio-err" required value="item-1">
		<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="radio-err" required value="item-2">
		<span class="item"><b>Item 2</b></span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="radio-err" required value="item-3">
		<span class="item"><b>Item 3</b></span>
	</label>
</div>
<div class="error-msg">Please make a selection.</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Error Messaging</h3>

<div class="form-group invalid" data-validator-anchor>
	<label class="checkbox">
		<input type="checkbox" name="checkbox-err" required value="terms-and-conditions">
		<span class="item">I agree to the <a href="#">Terms &amp; Conditions</a></span>
	</label>
</div>
<div class="error-msg">Please agree to the Terms &amp; Conditions to continue.</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Disabled State</h3>

<div class="form-group disabled">
	<label class="radiobutton">
		<input type="radio" name="radio-disabled" disabled>
		<span class="item"><b>Item 1</b> <span class="item-desc">Additional info about this item can go here.</span></span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="radio-disabled" disabled>
		<span class="item"><b>Item 2</b></span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="radio-disabled" disabled>
		<span class="item"><b>Item 3</b></span>
	</label>
</div>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Disabled State</h3>

<div class="form-group disabled">
	<label class="checkbox">
		<input type="checkbox" name="checkbox-disabled" disabled>
		<span class="item">I agree to the <a href="#">Terms &amp; Conditions</a></span>
	</label>
</div>

</div><!-- /data-xrayhtml -->

</div><!-- /docs-main -->


</body>
</html>
