<!doctype html>
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://filamentgroup.github.io/demo-head/demohead.css">
<link rel="stylesheet" href="/formcore/dist/dependencies.css">
<link rel="stylesheet" href="/formcore/css/demo.css">
<link rel="stylesheet" href="/formcore/css/formcore.css">
<link rel="stylesheet" href="/formcore/css/formcore-validation.css">
<link rel="stylesheet" href="/formcore/css/formcore-button.css">
<link rel="stylesheet" href="/formcore/css/grids.css">
<link rel="stylesheet" href="/formcore/css/character-counter.css">
<link rel="stylesheet" href="/formcore/css/credit-card-display.css">
<link rel="stylesheet" href="/formcore/css/disclosure.css">

<script src="/formcore/dist/dependencies.js"></script>
<script src="/formcore/js/numeric-input.js"></script>
<script src="/formcore/js/numeric-input-init.js"></script>
<script src="/formcore/js/maxlength-input.js"></script>
<script src="/formcore/js/maxlength-input-init.js"></script>
<script src="/formcore/js/password-init.js"></script>
<script src="/formcore/js/textarea-grow.js"></script>
<script src="/formcore/js/character-counter.js"></script>
<script src="/formcore/js/credit-card-display.js"></script>
<script src="/formcore/js/disclosure.js"></script>
<script src="https://filamentgroup.github.io/demo-head/loadfont.js"></script>
<script>
	grunticon([ "/dist/grunticon/icons.data.svg.css", "/dist/grunticon/icons.data.png.css", "/dist/grunticon/icons.fallback.css" ]);

	$(function(){
		$( document ).trigger( "enhance" );
		$( "html" ).addClass( "enhanced" );
	});
</script>


</head>


<body>

<div class="demo-header">
	<div class="company">
		<img src="http://filamentgroup.com/images/fg-logo-positive-sm-crop.png">
	</div>
	<div class="details">
		<h1 class="description-container">Demo of <span class="repo-name">Formcore</span>
			<span class="description">Light-weight, validated forms</span>
		</h1>
		<ul class="outbound-links">
			<li><a href="https://github.com/filamentgroup/formcore">Code</a></li>
			<li><a href="https://github.com/filamentgroup/formcore/issues">Issues</a></li>
		</ul>
	</div>
</div>

<div class="nav-container">
	<div class="docs-globalnav">
		<nav class="docs-nav">
		<a href="/formcore/">Patterns</a>
		<a href="/formcore/views/text-inputs.html">Text Inputs</a>
		<a href="/formcore/views/checks-radios.html">Checkboxes &amp; Radio Buttons</a>
		<a href="/formcore/views/selects.html">Selects</a>
		<a href="/formcore/views/disclosure.html">Disclosure</a>
		</nav>
	</div>
</div>


<div class="docs-main">
<h2>Form Element Disclosure</h2>

<form>

<div data-xrayhtml>
<label class="form-group">
	<b class="label-text">Select</b>
	<div class="custom-select">
		<select>
			<option data-disclosure="selectchoice-1">Apples</option>
			<option data-disclosure="selectchoice-2">Bananas</option>
			<option data-disclosure="selectchoice-1 selectchoice-2">Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label>
<p class="disclosure hidden" id="selectchoice-1">This is displayed when Apples (or Grapes) is selected.</p>
<p class="disclosure hidden" id="selectchoice-2">This is displayed when Bananas (or Grapes) is selected.</p>
</div>

<div data-xrayhtml>
<div class="form-group">
	<label class="radiobutton">
		<input type="radio" name="options1" data-disclosure="radiochoice-1">
		<span class="item">Choice 1</span>
	</label>
	<label class="radiobutton">
		<input type="radio" name="options1" data-disclosure="radiochoice-2">
		<span class="item">Choice 2</span>
	</label>
</div>
<p class="disclosure hidden" id="radiochoice-1">This is displayed when choice 1 is selected.</p>
<p class="disclosure hidden" id="radiochoice-2">This is displayed when choice 2 is selected.</p>
</div>

<div data-xrayhtml>
<h2 class="xraytitle">Checkboxes point to same disclosure</h2>
<div class="form-group">
	<label class="checkbox">
		<input type="checkbox" name="options2" data-disclosure="checkchoice-0">
		<span class="item">Choice 1</span>
	</label>
	<label class="checkbox">
		<input type="checkbox" name="options2" data-disclosure="checkchoice-0">
		<span class="item">Choice 2</span>
	</label>
</div>
<p class="disclosure hidden" id="checkchoice-0">This is displayed when either choice is selected.</p>
</div>

<div data-xrayhtml>
<h2 class="xraytitle">Checkboxes point to different disclosures</h2>
<div class="form-group">
	<label class="checkbox">
		<input type="checkbox" name="options3" data-disclosure="checkchoice-1">
		<span class="item">Choice 1</span>
	</label>
	<label class="checkbox">
		<input type="checkbox" name="options3" data-disclosure="checkchoice-2">
		<span class="item">Choice 2</span>
	</label>
</div>
<p class="disclosure hidden" id="checkchoice-1">This is displayed when choice 1 is selected.</p>
<p class="disclosure hidden" id="checkchoice-2">This is displayed when choice 2 is selected.</p>
</div>

</form>
</div>

</body>
</html>
