<!doctype html>
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://filamentgroup.github.io/demo-head/demohead.css">
<link rel="stylesheet" href="/formcore/dist/dependencies.css">
<link rel="stylesheet" href="/formcore/css/demo.css">
<link rel="stylesheet" href="/formcore/css/formcore.css">
<link rel="stylesheet" href="/formcore/css/formcore-validation.css">
<link rel="stylesheet" href="/formcore/css/formcore-button.css">
<link rel="stylesheet" href="/formcore/css/grids.css">
<link rel="stylesheet" href="/formcore/css/character-counter.css">
<link rel="stylesheet" href="/formcore/css/credit-card-display.css">
<link rel="stylesheet" href="/formcore/css/disclosure.css">

<script src="/formcore/dist/dependencies.js"></script>
<script src="/formcore/js/numeric-input.js"></script>
<script src="/formcore/js/numeric-input-init.js"></script>
<script src="/formcore/js/maxlength-input.js"></script>
<script src="/formcore/js/maxlength-input-init.js"></script>
<script src="/formcore/js/password-init.js"></script>
<script src="/formcore/js/textarea-grow.js"></script>
<script src="/formcore/js/character-counter.js"></script>
<script src="/formcore/js/credit-card-display.js"></script>
<script src="/formcore/js/disclosure.js"></script>
<script src="https://filamentgroup.github.io/demo-head/loadfont.js"></script>
<script>
	grunticon([ "/dist/grunticon/icons.data.svg.css", "/dist/grunticon/icons.data.png.css", "/dist/grunticon/icons.fallback.css" ]);

	$(function(){
		$( document ).trigger( "enhance" );
		$( "html" ).addClass( "enhanced" );
	});
</script>



</head>


<body>

<div class="demo-header">
	<div class="company">
		<img src="http://filamentgroup.com/images/fg-logo-positive-sm-crop.png">
	</div>
	<div class="details">
		<h1 class="description-container">Demo of <span class="repo-name">Formcore</span>
			<span class="description">Light-weight, validated forms</span>
		</h1>
		<ul class="outbound-links">
			<li><a href="https://github.com/filamentgroup/formcore">Code</a></li>
			<li><a href="https://github.com/filamentgroup/formcore/issues">Issues</a></li>
		</ul>
	</div>
</div>

<div class="nav-container">
	<div class="docs-globalnav">
		<nav class="docs-nav">
		<a href="/formcore/">Patterns</a>
		<a href="/formcore/views/text-inputs.html">Text Inputs</a>
		<a href="/formcore/views/checks-radios.html">Checkboxes &amp; Radio Buttons</a>
		<a href="/formcore/views/selects.html">Selects</a>
		<a href="/formcore/views/disclosure.html">Disclosure</a>
		</nav>
	</div>
</div>


<div class="docs-main">
<h2>Selects</h2>


<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select</h3>
<label class="form-group">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select">
		<select>
			<option>Apples</option>
			<option>Bananas</option>
			<option>Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Inline Custom Styled Select</h3>
<label class="form-group">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select custom-select-inline">
		<select>
			<option selected>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select with Disabled Default Option (For required fields)</h3>
	<label class="form-group required">
		<b class="label-text">Custom-styled select</b>
		<div class="custom-select">
			<select required>
				<option value="-1" selected disabled>Select a number</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</label>
</div>


<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select, Error State</h3>

<label class="form-group invalid">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select">
		<select required>
			<option>Apples</option>
			<option>Bananas</option>
			<option>Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label> 
<div class="error-msg">This is required.</div>

</div>


<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select, Disabled State</h3>

<label class="form-group disabled">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select">
		<select disabled>
			<option>Apples</option>
			<option>Bananas</option>
			<option>Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label> 

</div>

</div><!-- /docs-main -->

</body>
</html>
