
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://filamentgroup.github.io/demo-head/demohead.css">
<link rel="stylesheet" href="../css/formcore.css">
<script src="https://filamentgroup.github.io/demo-head/loadfont.js"></script>

</head>


<body>

<!--#include virtual="/ssi/masthead.html" -->

<div class="docs-main">
<h2>Selects</h2>

<form novalidate data-validatorform data-error-title="The Form is incomplete" data-error-message="Go back there and fix it.">
	<div class="layout-a clearfix">

		<div class="sect-a">

			<label class="form-group">
				<b class="label-text">Native select</b>
				<select>
					<option>Apples</option>
					<option>Bananas</option>
					<option>Grapes</option>
					<option>Oranges</option>
					<option selected>A very long option name to test wrapping</option>
				</select>
			</label>


			<label class="form-group">
				<b class="label-text">Custom-styled select</b>
				<div class="custom-select">
					<select>
						<option>Apples</option>
						<option>Bananas</option>
						<option>Grapes</option>
						<option>Oranges</option>
						<option>A very long option name to test wrapping</option>
					</select>
				</div>
			</label> 

			<button class="button btn-submit">Submit</button>
		</div>

		<!-- <div class="sect-b">
			more examples and stuff			
		</div> -->
	</div>
</form>

<div class="layout-a clearfix">
	<h3>Error feedback</h3>

	<div class="sect-a">

		<label class="form-group invalid">
			<b class="label-text">Native select</b>
			<select>
				<option>Apples</option>
				<option>Bananas</option>
				<option>Grapes</option>
				<option>Oranges</option>
				<option selected>A very long option name to test wrapping</option>
			</select>
			<div class=" error-msg">Please make a selection.</div>
		</label>


		<label class="form-group invalid">
			<b class="label-text">Custom-styled select</b>
			<div class="custom-select">
				<select>
					<option>Apples</option>
					<option>Bananas</option>
					<option>Grapes</option>
					<option>Oranges</option>
					<option>A very long option name to test wrapping</option>
				</select>
			</div>
			<div class=" error-msg">Please make a selection.</div>
		</label> 

	</div>
</div>

<div class="layout-a clearfix">
	<h3>Disabled state</h3>

	<div class="sect-a">

		<label class="form-group disabled">
			<b class="label-text">Native select</b>
			<select disabled>
				<option>Apples</option>
				<option>Bananas</option>
				<option>Grapes</option>
				<option>Oranges</option>
				<option selected>A very long option name to test wrapping</option>
			</select>
		</label>


		<label class="form-group disabled">
			<b class="label-text">Custom-styled select</b>
			<div class="custom-select">
				<select disabled>
					<option>Apples</option>
					<option>Bananas</option>
					<option>Grapes</option>
					<option>Oranges</option>
					<option>A very long option name to test wrapping</option>
				</select>
			</div>
		</label> 

	</div>
</div>

</div>

<!--#include virtual="/ssi/js.html" -->
</body>
</html>
