<!doctype html>
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--#include virtual="/ssi/styles-scripts.html" -->

</head>


<body>

<!--#include virtual="/ssi/masthead.html" -->

<div class="docs-main">
<h2>Selects</h2>


<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select</h3>
<label class="form-group">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select">
		<select>
			<option>Apples</option>
			<option>Bananas</option>
			<option>Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Inline Custom Styled Select</h3>
<label class="form-group">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select custom-select-inline">
		<select>
			<option selected>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select with Disabled Default Option (For required fields)</h3>
	<label class="form-group required">
		<b class="label-text">Custom-styled select</b>
		<div class="custom-select">
			<select required>
				<option value="-1" selected disabled>Select a number</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</label>
</div>


<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select, Error State</h3>

<label class="form-group invalid">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select">
		<select required>
			<option>Apples</option>
			<option>Bananas</option>
			<option>Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label> 
<div class="error-msg">This is required.</div>

</div>


<div data-xrayhtml>
<h3 class="xraytitle">Custom Styled Select, Disabled State</h3>

<label class="form-group disabled">
	<b class="label-text">Custom-styled select</b>
	<div class="custom-select">
		<select disabled>
			<option>Apples</option>
			<option>Bananas</option>
			<option>Grapes</option>
			<option>Oranges</option>
			<option>A very long option name to test wrapping</option>
		</select>
	</div>
</label> 

</div>

</div><!-- /docs-main -->

</body>
</html>
