
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://filamentgroup.github.io/demo-head/demohead.css">
<link rel="stylesheet" href="../css/formcore.css">
<script src="https://filamentgroup.github.io/demo-head/loadfont.js"></script>

</head>


<body>

<!--#include virtual="/ssi/masthead.html" -->	

<div class="docs-main" data-input-val-toggle>
<h2>Text Inputs</h2>

<form novalidate data-validatorform data-error-title="The Form is incomplete" data-error-message="Go back there and fix it.">

<div class="layout-a clearfix">

	<div class="sect-a">
		<label class="form-group">
			<b class="label-text">Text</b>
			<input type="text">
		</label>

		<label class="form-group required">
			<b class="label-text">Required field</b>
			<input type="text" required>
		</label>

		<label class="form-group">
			<b class="label-text">Search</b>
			<input type="search">
		</label>

		<label class="form-group">
			<b class="label-text">Password</b>
			<input type="password" data-validate="password">
		</label>

		<label class="form-group">
			<b class="label-text">Password Confirmation</b>
			<input type="password" data-validate="passwordconfirm" data-password-confirm>
		</label>

		<label class="form-group">
			<b class="label-text">Number</b>
			<input type="number" data-validate="number">
		</label>

		<label class="form-group">
			<b class="label-text">Numeric Input (can have spaces/dashes)</b>
			<input type="number" inputmode="numeric" data-pattern="[0-9]*" data-numeric-input>
		</label>

		<label class="form-group">
			<b class="label-text">Telephone</b>
			<input type="tel" data-validate="phone">
		</label>

		<label class="form-group">
			<b class="label-text">Email</b>
			<input type="email" data-validate="email">
		</label>

		<label class="form-group">
			<b class="label-text">Date</b>
			<input type="date" data-validate="date">
		</label>

	</div>

	<div class="sect-b">
		<label class="form-group">
			<b class="label-text">Time</b>
			<input type="time" data-validate="time">
		</label>

		<label class="form-group">
			<b class="label-text">Month</b>
			<input type="month" data-validate="month">
		</label>

		<label class="form-group">
			<b class="label-text">URL</b>
			<input type="url" data-validate="url">
		</label>

		<label class="form-group">
			<b class="label-text">Credit Card</b>
			<input type="text" data-validate="credit">
		</label>

		<label class="form-group">
			<b class="label-text">CVV</b>
			<input type="number" data-validate="cvv">
		</label>

		<label class="form-group">
			<b class="label-text">Expiration</b>
			<input type="month" placeholder="MM YYYY" data-validate="month">
		</label>

		<label class="form-group">
			<b class="label-text">Amount ($)</b>
			<input type="number" step="0.01" min="0" max="10000" data-validate="numeric">
		</label>

		<label class="form-group">
			<b class="label-text">Textarea</b>
			<textarea></textarea>
		</label>

		<label class="form-group">
			<b class="label-text">File</b>
			<input type="file">
		</label>
		
	</div>
</div>

<button class="button btn-submit">Submit</button>

<div class="layout-a clearfix">
	<h3>Error feedback</h3>

	<div class="sect-a">

		<label class="form-group invalid">
			<b class="label-text">Text</b>
			<input type="text">
			<div class=" error-msg">This is required.</div>
		</label>

		<label class="form-group invalid">
			<b class="label-text">Textarea</b>
			<textarea></textarea>
			<div class=" error-msg">Please enter a message.</div>
		</label>

		<label class="form-group invalid">
			<b class="label-text">File</b>
			<input type="file">
			<div class=" error-msg">Please choose a file to upload.</div>
		</label>

	</div>
</div>

<div class="layout-a clearfix">
	<h3>Disabled state</h3>

	<div class="sect-a">

		<label class="form-group disabled">
			<b class="label-text">Text</b>
			<input type="text" disabled>
		</label>

		<label class="form-group disabled">
			<b class="label-text">Textarea</b>
			<textarea disabled></textarea>
		</label>

		<label class="form-group disabled">
			<b class="label-text">File</b>
			<input type="file" disabled>
		</label>

	</div>
</div>


</form>
</div>

<!--#include virtual="/ssi/js.html" -->
</body>
</html>
