<!doctype html>
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://filamentgroup.github.io/demo-head/demohead.css">
<link rel="stylesheet" href="/formcore/dist/dependencies.css">
<link rel="stylesheet" href="/formcore/css/demo.css">
<link rel="stylesheet" href="/formcore/css/formcore.css">
<link rel="stylesheet" href="/formcore/css/formcore-validation.css">
<link rel="stylesheet" href="/formcore/css/formcore-button.css">
<link rel="stylesheet" href="/formcore/css/grids.css">
<link rel="stylesheet" href="/formcore/css/character-counter.css">
<link rel="stylesheet" href="/formcore/css/credit-card-display.css">
<link rel="stylesheet" href="/formcore/css/disclosure.css">

<script src="/formcore/dist/dependencies.js"></script>
<script src="/formcore/js/numeric-input.js"></script>
<script src="/formcore/js/numeric-input-init.js"></script>
<script src="/formcore/js/maxlength-input.js"></script>
<script src="/formcore/js/maxlength-input-init.js"></script>
<script src="/formcore/js/password-init.js"></script>
<script src="/formcore/js/textarea-grow.js"></script>
<script src="/formcore/js/character-counter.js"></script>
<script src="/formcore/js/credit-card-display.js"></script>
<script src="/formcore/js/disclosure.js"></script>
<script src="https://filamentgroup.github.io/demo-head/loadfont.js"></script>
<script>
	grunticon([ "/dist/grunticon/icons.data.svg.css", "/dist/grunticon/icons.data.png.css", "/dist/grunticon/icons.fallback.css" ]);

	$(function(){
		$( document ).trigger( "enhance" );
		$( "html" ).addClass( "enhanced" );
	});
</script>


</head>


<body>

<div class="demo-header">
	<div class="company">
		<img src="http://filamentgroup.com/images/fg-logo-positive-sm-crop.png">
	</div>
	<div class="details">
		<h1 class="description-container">Demo of <span class="repo-name">Formcore</span>
			<span class="description">Light-weight, validated forms</span>
		</h1>
		<ul class="outbound-links">
			<li><a href="https://github.com/filamentgroup/formcore">Code</a></li>
			<li><a href="https://github.com/filamentgroup/formcore/issues">Issues</a></li>
		</ul>
	</div>
</div>

<div class="nav-container">
	<div class="docs-globalnav">
		<nav class="docs-nav">
		<a href="/formcore/">Patterns</a>
		<a href="/formcore/views/text-inputs.html">Text Inputs</a>
		<a href="/formcore/views/checks-radios.html">Checkboxes &amp; Radio Buttons</a>
		<a href="/formcore/views/selects.html">Selects</a>
		<a href="/formcore/views/disclosure.html">Disclosure</a>
		</nav>
	</div>
</div>


<div class="docs-main">
<h2>Text Inputs</h2>

<form novalidate data-validatorform data-error-title="The Form is incomplete" data-error-message="Go back there and fix it.">

<div data-xrayhtml>
<h3 class="xraytitle">Single Line Text</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<input type="text">
</label>
<label class="form-group required">
	<b class="label-text">Required Text</b>
	<input type="text" required>
</label>
<label class="form-group disabled">
	<b class="label-text">Disabled Text</b>
	<input type="text" disabled>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Name</h3>
<div class="sect-group">
	<div class="sect-inner-a">
		<label class="form-group">
			<b class="label-text">First Name</b>
			<input type="text">
		</label>
	</div>

	<div class="sect-inner-b">
		<label class="form-group ">
			<b class="label-text">Last Name</b>
			<input type="text">
		</label>
	</div>
</div>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Multi-line Text, grows with text</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<textarea></textarea>
</label>
<label class="form-group required">
	<b class="label-text">Required Text</b>
	<textarea required></textarea>
</label>
<label class="form-group disabled">
	<b class="label-text">Disabled Text</b>
	<textarea disabled></textarea>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">US Telephone Number</h3>

<label class="form-group">
	<b class="label-text">Telephone</b>
	<input type="tel" pattern="[0-9]*" data-validate="phone" data-politespace data-politespace-us-telephone data-politespace-grouplength="3,3,4" data-politespace-delimiter="-" data-numeric-input maxlength="10">
</label>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">File Upload</h3>
<label class="form-group">
	<b class="label-text">Profile Photo</b>
	<input type="file">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Multi-line Text, with character counter maxlength</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<textarea id="charcounter-max" maxlength="250"></textarea>
	<span class="character-counter plural">
		<b data-maxlength-count="charcounter-max">250</b> <span class="plural">characters</span><span class="singular">character</span> remaining
	</span>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Multi-line Text, with character counter minlength</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<textarea id="charcounter-min" minlength="10"></textarea>
	<span class="character-counter plural">
		Enter <b data-maxlength-count="charcounter-min">10</b> more <span class="plural">characters</span><span class="singular">character</span>
	</span>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Email</h3>
<label class="form-group">
	<b class="label-text">Email</b>
	<input type="email" data-validate="email" autocorrect="off" autocapitalize="none" spellcheck="false">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Credit Card</h3>
<label class="form-group">
	<b class="label-text">Card Number</b>
	<input type="number"
		inputmode="numeric" pattern="[0-9]*" data-numeric-input data-numeric-input-nav-disabled
		data-politespace data-politespace-grouplength="4" data-politespace-creditcard data-politespace-creditcard-maxlength
		data-validate="credit" maxlength="16"
		placeholder="0000 0000 0000 0000"
		class="formcore-disable-spinner">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Credit Card with Preview (Text Only)</h3>
<div class="sect-group creditcarddisplay" data-validator-anchor>
	<label class="sect-inner-a form-group">
		<span class="label-text">Card Number</span>
		<input type="number"
			inputmode="numeric" pattern="[0-9]*" data-numeric-input data-numeric-input-nav-disabled
			data-politespace data-politespace-grouplength="4" data-politespace-creditcard data-politespace-creditcard-maxlength
			data-validate="credit" maxlength="16"
			data-credit-card-display
			placeholder="0000 0000 0000 0000"
			class="formcore-disable-spinner">
	</label>
	<div class="sect-inner-b">
		<p class="creditcarddisplay_desc">We accept:</p>
		<span class="creditcarddisplay_type creditcarddisplay_type-text creditcarddisplay_type-visa">Visa</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-text creditcarddisplay_type-mastercard">Mastercard</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-text creditcarddisplay_type-amex">AMEX</span>
	</div>
</div>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Credit Card with Preview (3 Images)</h3>
<div class="sect-group creditcarddisplay" data-validator-anchor>
	<label class="sect-inner-a form-group">
		<span class="label-text">Card Number</span>
		<input type="number"
			inputmode="numeric" pattern="[0-9]*" data-numeric-input data-numeric-input-nav-disabled
			data-politespace data-politespace-grouplength="4" data-politespace-creditcard data-politespace-creditcard-maxlength
			data-validate="credit" maxlength="16"
			data-credit-card-display
			placeholder="0000 0000 0000 0000"
			class="formcore-disable-spinner">
	</label>
	<div class="sect-inner-b">
		<p class="creditcarddisplay_desc">We accept:</p>
		<span class="creditcarddisplay_type creditcarddisplay_type-visa icon-card-visa">Visa</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-mastercard icon-card-mastercard">Mastercard</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-amex icon-card-amex">AMEX</span>
	</div>
</div>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Credit Card with Preview (4 Images)</h3>
<div class="sect-group creditcarddisplay" data-validator-anchor>
	<label class="sect-inner-a form-group">
		<span class="label-text">Card Number</span>
		<input type="number"
			inputmode="numeric" pattern="[0-9]*" data-numeric-input data-numeric-input-nav-disabled
			data-politespace data-politespace-grouplength="4" data-politespace-creditcard data-politespace-creditcard-maxlength
			data-validate="credit" maxlength="16"
			data-credit-card-display
			placeholder="0000 0000 0000 0000"
			class="formcore-disable-spinner">
	</label>
	<div class="sect-inner-b">
		<span class="creditcarddisplay_type creditcarddisplay_type-visa icon-card-visa">Visa</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-mastercard icon-card-mastercard">Mastercard</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-amex icon-card-amex">AMEX</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-discover icon-card-discover">Discover</span>
	</div>
</div>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">US ZIP Code, allows 5 digits</h3>
<label class="form-group">
	<span class="label-text">ZIP Code</span>
	<input type="number" data-validate="zip" inputmode="numeric" pattern="[0-9]*" maxlength="5" placeholder="00000" data-numeric-input data-numeric-input-nav-disabled class="formcore-disable-spinner">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">US ZIP Code, allows full 9 digits</h3>
<label class="form-group">
	<span class="label-text">ZIP Code</span>
	<input type="number" data-validate="zip" inputmode="numeric" pattern="[0-9]*" maxlength="9" placeholder="00000" data-numeric-input data-numeric-input-nav-disabled data-politespace data-politespace-grouplength="5," data-politespace-delimiter="-" class="formcore-disable-spinner">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Integer Numeric Input</h3>

<label class="form-group">
	<b class="label-text">Number</b>
	<input type="number" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-validate="numeric" data-formcore-type="numeric">
</label>

<label class="form-group">
	<b class="label-text">Number without Spinner Buttons</b>
	<input type="number" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-numeric-input-nav-disabled data-validate="numeric" class="formcore-disable-spinner" data-formcore-type="numeric">
</label>

</div><!-- /data-xrayhtml -->


<h3>Prices</h3>

<div data-xrayhtml>
<h3 class="xraytitle">Price (Full Dollar Amounts) - with spinner</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="number" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-validate="numeric" data-politespace data-politespace-grouplength="3" data-politespace-delimiter="," data-politespace-reverse step="1" data-formcore-type="price-positive">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Price (Full Dollar Amounts) without Spinner Buttons</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="number" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-validate="numeric" data-politespace data-politespace-grouplength="3" data-politespace-delimiter="," data-politespace-reverse data-numeric-input-nav-disabled class="formcore-disable-spinner" data-formcore-type="price-positive">
</label>
</div><!-- /data-xrayhtml -->

<p>In order to reliably allow cross-browser input of decimal places, we cannot use the numeric keyboards for fields that require a decimal place. Numeric keyboards on iOS and Android do not include a key for the decimal place. This requires use of <code>type="text"</code> and omitting <code>pattern="[0-9]*"</code>. Add <code>data-numeric-input-float</code> to tell the numeric keypress filter to allow decimal marks.</p>

<div data-xrayhtml>
<h3 class="xraytitle">Price (Dollars and Cents)</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="text" inputmode="numeric" data-numeric-input data-numeric-input-float data-politespace data-politespace-grouplength="3" data-politespace-delimiter="," data-politespace-decimal-mark="." data-politespace-reverse  data-formcore-type="price-float-positive">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Price (Full Dollar Amounts, allows Negative)</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="text" inputmode="numeric" data-numeric-input data-numeric-input-negative data-politespace data-politespace-grouplength="3" data-politespace-delimiter="," data-politespace-reverse  data-formcore-type="price">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Price (Dollars and Cents, allows Negative)</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="text" inputmode="numeric" data-numeric-input data-numeric-input-float data-numeric-input-negative data-politespace data-politespace-grouplength="3" data-politespace-delimiter="," data-politespace-decimal-mark="." data-politespace-reverse data-formcore-type="price-float">
</label>
</div><!-- /data-xrayhtml -->


</form>
</div>

</body>
</html>
