<!doctype html>
<html>
<head>
<title>formcore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--#include virtual="/ssi/styles-scripts.html" -->
</head>


<body>

<!--#include virtual="/ssi/masthead.html" -->

<div class="docs-main">
<h2>Text Inputs</h2>

<form novalidate data-validatorform data-error-title="The Form is incomplete" data-error-message="Go back there and fix it.">

<div data-xrayhtml>
<h3 class="xraytitle">Single Line Text</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<input type="text">
</label>
<label class="form-group required">
	<b class="label-text">Required Text</b>
	<input type="text" required>
</label>
<label class="form-group disabled">
	<b class="label-text">Disabled Text</b>
	<input type="text" disabled>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Multi-line Text, grows with text</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<textarea></textarea>
</label>
<label class="form-group required">
	<b class="label-text">Required Text</b>
	<textarea required></textarea>
</label>
<label class="form-group disabled">
	<b class="label-text">Disabled Text</b>
	<textarea disabled></textarea>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">US Telephone Number</h3>

<label class="form-group">
	<b class="label-text">Telephone</b>
	<input type="tel" data-validate="phone" data-politespace data-grouplength="3,3,4" data-delimiter="-" data-numeric-input maxlength="10">
</label>

</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">File Upload</h3>
<label class="form-group">
	<b class="label-text">Profile Photo</b>
	<input type="file">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Multi-line Text, with character counter maxlength</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<textarea id="charcounter-max" maxlength="250"></textarea>
	<span class="character-counter">
		<b data-maxlength-count="charcounter-max">250</b> <span class="plural">characters</span><span class="singular">character</span> remaining
	</span>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">Multi-line Text, with character counter minlength</h3>
<label class="form-group">
	<b class="label-text">Text</b>
	<textarea id="charcounter-min" minlength="10"></textarea>
	<span class="character-counter">
		Enter <b data-maxlength-count="charcounter-min">10</b> more <span class="plural">characters</span><span class="singular">character</span>
	</span>
</label>
</div>

<div data-xrayhtml>
<h3 class="xraytitle">E-mail</h3>
<label class="form-group">
	<b class="label-text">Email</b>
	<input type="email" data-validate="email">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Credit Card</h3>
<label class="form-group">
	<b class="label-text">Credit Card</b>
	<input type="text"
		inputmode="numeric" pattern="[0-9]*" data-numeric-input
		data-politespace data-grouplength="4" data-politespace-creditcard data-politespace-creditcard-maxlength
		data-validate="credit" maxlength="16"
		placeholder="0000 0000 0000 0000">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Credit Card with Image Preview</h3>
<div class="sect-group creditcarddisplay" data-validator-anchor>
	<label class="sect-inner-a form-group">
		<span class="label-text">Card Number</span>
		<input type="text"
			inputmode="numeric" pattern="[0-9]*" data-numeric-input
			data-politespace data-grouplength="4" data-politespace-creditcard data-politespace-creditcard-maxlength
			data-validate="credit" maxlength="16"
			data-credit-card-display
			placeholder="0000 0000 0000 0000">
	</label>
	<div class="sect-inner-b">
		<p class="creditcarddisplay_desc">We accept:</p>
		<span class="creditcarddisplay_type creditcarddisplay_type-visa icon-card-visa">Visa</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-mastercard icon-card-mastercard">Mastercard</span>
		<span class="creditcarddisplay_type creditcarddisplay_type-amex icon-card-amex">AMEX</span>
	</div>
</div>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">US ZIP Code</h3>
<label class="form-group">
	<span class="label-text">ZIP Code</span>
	<input type="text" data-validate="zip" inputmode="numeric" pattern="[0-9]*" maxlength="9" placeholder="00000" data-politespace data-grouplength="5," data-delimiter="-">
</label>
</div><!-- /data-xrayhtml -->

<div data-xrayhtml>
<h3 class="xraytitle">Integer Numeric Input</h3>

<label class="form-group">
	<b class="label-text">Number</b>
	<input type="number" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-validate="numeric">
</label>

</div><!-- /data-xrayhtml -->


<h3>Prices</h3>

<div data-xrayhtml>
<h3 class="xraytitle">Price (Full Dollar Amounts)</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="number" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-validate="numeric" data-politespace data-grouplength="3" data-delimiter="," data-reverse>
</label>
</div><!-- /data-xrayhtml -->

<p>In order to reliably allow cross-browser input of decimal places, we cannot use the numeric keyboards for fields that require a decimal place. Numeric keyboards on iOS and Android do not include a key for the decimal place. This requires use of <code>type="text"</code> and omitting <code>pattern="[0-9]*"</code>. Add <code>data-float</code> to tell the numeric keypress filter to allow decimal marks.</p>

<div data-xrayhtml>
<h3 class="xraytitle">Price (Dollars and Cents)</h3>
<label class="form-group">
	<span class="label-text">Price ($)</span>
	<input type="text" inputmode="numeric" pattern="[0-9]*" data-numeric-input data-float data-politespace data-grouplength="3" data-delimiter="," data-decimal-mark="." data-reverse>
</label>
</div><!-- /data-xrayhtml -->


</form>
</div>

</body>
</html>
